<div class="container my-5">
  <h3 class="mb-4">Featured {{ type | titlecase }}</h3>

  <div class="row">
    <div class="col-md-4" *ngFor="let item of items">
      <div class="custom-card">
        <span class="status-dot" [ngClass]="{
            green: ['Available', 'Approved', 'Active'].includes(
              item.Status || item.approval_status || item.status
            ),
            yellow: ['Occupied', 'Pending', 'Inactive'].includes(
              item.Status || item.approval_status || item.status
            ),
            red: ['Under Maintenance', 'Rejected', 'Maintenance'].includes(
              item.Status || item.approval_status || item.status
            ),
          }"></span>

        <img [src]="imageBaseUrl + item.image" (error)="onImgError($event)" class="card-img" alt="{{ type }} Image" />

        <div class="card-content">
          <!-- Display fields dynamically based on type -->
          <h4 class="card-title">
            {{ item.h_name || item.ScreenName || item.v_type || item.b_type || item.s_type }}
          </h4>

          <p class="location-text">
            {{ item.city || item.City || item.v_city || item.b_city || item.s_city }}
          </p>

          <p class="exact-location">
            <i class="bi bi-geo-alt"></i>
            {{ item.address || item.Location || item.State || item.b_location_name || item.s_name }}
          </p>

          <div class="price-size">
            <span>
              📐 {{ item.size || item.Resolution || item.b_size || item.s_no_flats }}
            </span>

            <span class="price">
              ₹{{
              item.rental_cost ||
              item.RentalCost ||
              item.v_cost ||
              item.b_cost ||
              item.actual_cost
              }}
            </span>

            <span>
              <!-- conditional buttons -->
              <button class="view-btn" *ngIf="type === 'hoardings'" (click)="viewMore(item, 'hoardings')">
                View More
              </button>

              <button class="view-btn" *ngIf="type === 'screens'" (click)="viewMore(item, 'outdoormarketingscreens')">
                View More
              </button>

              <button class="view-btn" *ngIf="type === 'vehicles'" (click)="viewMore(item, 'vehicle_marketing')">
                View More
              </button>

              <button class="view-btn" *ngIf="type === 'polls'" (click)="viewMore(item, 'balloon_marketing')">
                View More
              </button>

              <button class="view-btn" *ngIf="type === 'societies'" (click)="viewMore(item, 'society_marketing')">
                View More
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>