/* .footer-bg {
  background: linear-gradient(90deg, #0b0b0b, #1a1a1a, #0b0b0b);
  background: linear-gradient(90deg, #0f172a, #1e293b);
  
} */

 .footer-sec {
  background: linear-gradient(90deg, #0f172a, #1e293b);
  color: #ffffff;
  padding-top: 10px ;   /* Reduced height */
  font-size: 13px;
}

.footer-logo {
  width: 110px;   /* Smaller logo */
}

.footer-title {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 14px;
}

.footer-text {
  color: #cbd5e1;
  text-align: justify;
  margin-bottom: 3px;
  line-height: 1.4;
}

.footer-text i {
  color: #facc15;   /* Yellow icon highlight */
}

.footer-divider {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0;   /* Smaller spacing */
}

.small-footer-text {
  font-size: 12px;
  color: #94a3b8;
}

/* Responsive adjustment */
@media (max-width: 768px) {
  .footer-sec {
    text-align: center;
  }
}
