.custom-card {
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform .2s ease;
}

.custom-card:hover {
  transform: translateY(-4px);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #222;
}

.location-text {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.exact-location {
  font-size: 14px;
  margin: 6px 0;
  color: #007bff;
  font-weight: 600;
}

.price-size {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 14px;
}

.price {
  font-weight: bold;
  color: #28a745;
}

.view-btn {
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.view-btn:hover {
  background: #0056b3;
}


.status-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 12px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.status-dot.green {
  background-color: #28a745;
  /* green */
}

.status-dot.red {
  background-color: #dc3545;
  /* red */
}

/* Make sure custom-card has position relative */
.custom-card {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
} 
                                                                                              