<!-- LIST OF CARDS -->
<div *ngIf="!selectedBoard" class="row">
  <div class="col-md-4" *ngFor="let b of boards">
    <div class="custom-card">

      <!-- Availability Dot -->
      <span class="status-dot" [ngClass]="b.status === 'Available' ? 'green' : 'red'"></span>

      <!-- FIXED IMAGE WITH FALLBACK -->
      <img a
        [src]="imageBaseUrl + b.image" 
        (error)="onImgError($event)"
        class="card-img" 
      
         [routerLink]="['/screenBoardDescrpt', getBoardId(b), b.service_type]"
        alt="Board Image">

      <div class="card-content">
        <h4 class="card-title">{{ b.service_type }}</h4>

        <p class="location-text">
          {{ b.State }}, {{ b.District }}, {{ b.Tehsil }}, {{ b.Village }}
        </p>

        <p class="exact-location"><i class="bi bi-geo-alt"></i> {{ b.Location || b.location || b.v_area ||b.s_address ||b.b_address || b.address }}</p>

        <div class="price-size">
          <span>📐 {{ b.size }}</span>
          <span class="price">₹{{ (b.rental_cost ||b.RentalCost || b.v_cost || b.actual_cost || b.b_cost || b.actual_cost) | maskPrice}}</span>
        </div>

        <button class="view-btn" (click)="viewMore(b)">View More</button>

      </div>

    </div>
  </div>
</div>
